html, body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: sans-serif;
    font-size: 16px;
}

header {
    padding: 4px;
    margin: 0;
    background: #393d48;
    color: #dfd7c4;
}
.intro {
    padding: 128px;
    text-align: center;
    font-size: 32px;
    color: #999;
    font-style: italic;
}